body
{
background-image: linear-gradient(to right top, #F6CEE3, #F6CEE3, #81F7F3, #81F7F3);
}

#output{
    background-color: lavenderblush;
    width: 50%;
    border-radius: 40px;
    font-family: 'Sacramento', cursive;padding: 10px;
    width:80%;
    border-radius: 15px;

}

.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
    font-family: 'Sacramento', cursive;
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}

.user_tick
{
	width:20px;
}